<a href="https://colab.research.google.com/github/Shambhavishukla12/dspy/blob/main/learnPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#learnPython

In [2]:

from IPython.display import Markdown, display

# Display the markdown content
display(Markdown("**In this notebook, Data Science Tools and Ecosystem are summarized.**"))

**In this notebook, Data Science Tools and Ecosystem are summarized.**

In [3]:

markdown_text = """
Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala
"""

display(Markdown(markdown_text))

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

In [4]:

from IPython.display import Markdown, display

markdown_text = """
Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow
"""

display(Markdown(markdown_text))

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

In [5]:

from IPython.display import Markdown, display

markdown_text = """
| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |
"""

display(Markdown(markdown_text))

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

In [6]:


markdown_text = """
### Below are a few examples of evaluating arithmetic expressions in Python
"""

display(Markdown(markdown_text))

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:

# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [8]:

# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

In [9]:

markdown_text = """
## Author
John Doe
"""

display(Markdown(markdown_text))

## Author
John Doe

In [10]:

from IPython.display import Markdown, display

markdown_text = """
**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Describe open-source tools used by Data Scientists
- Perform basic arithmetic operations in Python
- Convert units using Python expressions
"""

display(Markdown(markdown_text))

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Describe open-source tools used by Data Scientists
- Perform basic arithmetic operations in Python
- Convert units using Python expressions